/*  your css code here. If applicable */
.main-container{
   height: 100vh;
  width: 100%;
  position: relative;
  background-color:black;
}

.second-container{
	background-color:grey;
	margin-left:50px;
	margin-right:50px;
	border-radius:15px;
	height:auto;
}
.photo-heading{
	color:white;
	text-align:center;
}
.photo{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	height:100%;
	align-items:center;
	
}
.photo img{
	height:200px;
	width:200px;
	margin:2px;
	border-radius:10px;
}

